#bar {
  width: 52vw;
}

#svgeq {
  background-color: rgba(63, 231, 231, 0.411);
  display: block;
  width: 70%;
  padding: 1vw;
  margin: auto;
  border-radius: 1vh;
}
.bluebox {
  background-color: rgba(63, 231, 231, 0.411);
  -webkit-user-select: text; 
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  border-radius: 1vh;
  padding: 1vh;
}

#section_2 {
  display: grid;
  grid-template-rows: 1fr 4fr; 
} 

#section_2_1 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr; 
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
}

/* section_2_1_1
section_2_1_2
section_2_1_3
section_2_2 */
 